.header {
  max-width: 1280px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--primary-color);
  background-image: url("../../assets/background-image.jpg");

  box-shadow: -8px -8px 12px rgba(199, 190, 185, 0.95),
    8px 4px 8px rgba(123, 107, 88, 0.95);
}
