.contactList {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.contactItem {
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  padding: 12px;
  width: 280px;
}
