.homePage {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  margin-top: 100px;
  line-height: 2.5;
  color: var(--primary-color);
  min-width: 320px;
  max-width: 428px;
  padding: 16px;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  background-color: var(--accent-color);
  background-image: url("../../assets/background-image.jpg");

  box-shadow: 0px 4px 8px rgba(123, 107, 88, 0.95),
    -8px 4px 12px rgba(199, 190, 185, 0.95),
    8px 4px 12px rgba(199, 190, 185, 0.95);
}
