.notFoundPage {
  margin-top: 80px;
  text-align: center;
}

.infoMessage {
  font-size: 16px;
  color: #1601f9;
  margin-bottom: 24px;
}

.goBackBtn {
  margin-top: 50px;
  border-radius: 8px;
  padding: 12px 20px;
  color: #fff;
  background-color: #74d4ec;
  border: 1px solid #74d4ec;
  border-radius: 8px;
  transition: all 0.3s;
}

.goBackBtn:hover {
  color: #1601f9;
  background-color: #a0a0c1;
  border: 1px solid #74d4ec;
}
